.layout-content {
	flex-grow: 1;
}
.layout-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: white;
}
.ol {
	padding-left: 19px;
	margin-top: 0;
	margin-bottom: 0;
}
.Toastify__toast-container {
	font-weight: 600;
}
.Toastify__toast--error {
	background:#F16824;
}
.Toastify__toast--success {
	background:#059348;
}
